body {
    background-color: rgb(251, 166, 166);
    margin: auto;
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 120px;
}
p {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    color: #333333;
}